/* COLOR DE LA PAGINA*/
body{
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* SEPARAR EL CONTENEDOR GENERAL DEL BORDE SUPERIOR */
.container{
    margin-top: 15px;
}
/* TAMANOS DE LAS CARDS*/
.card{
    margin:10px;
    text-align: center;
    padding: 20px;
    height: 500px;
}
/* SEPARAR LOS BOTONES DEL BORDE SUPERIOR*/
.btn{
    margin-top: 15px;
}
/* PARA CREAR LA FIGURA*/
.square{
    padding: 40px;
    background-color: #43C6AC;
    margin-left: 40%;
    margin-right: 40%;
}
/* PARA CREAR LA FIGURA*/
.rectangle{
    padding: 40px;
    background-color: #43C6AC;
    margin-left: 25%;
    margin-right: 25%;
}
/* PARA CREAR LA FIGURA*/
.circle{
    padding: 40px;
    background-color: #43C6AC;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 50%;
}
/* PARA CREAR LA FIGURA*/
.triangle{
    border-bottom: 80px solid  #43C6AC;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-left: 40%;
    margin-right: 40%;
    position: relative;
    
}
/* 
.ejemplo{
    width: 500px;
    background-color: #F8FFAE;
} */